::ng-deep .ant-checkbox-group{
    display:flex;
    flex-direction:column;
}
::ng-deep .ant-checkbox-wrapper{
    margin:0.5rem 0rem;
}
.filters{
    display:flex;
    flex-direction:row;
    margin:10px 0px
}
.filter-btn{
    padding:0px 5px 0px 0px;
}
.filter-title{
    padding:0px 5px;
    font-weight:500;
    border-left:1px solid #8080805c;
}
.filter-btn:hover{
    color: #27A5A5;
}
.active-btn{
    color: #27A5A5;
}
::ng-deep .inner-content{
    padding:10px 24px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}